.carousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.carousel-container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-box {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.5s ease;
}

.carousel-box.prev {
    transform: translateX(-30%);
}

.carousel-box.next {
    transform: translateX(30%);
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.carousel-link img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-title {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(45, 48, 143, 0.8) 0%, rgba(53, 166, 222, 0.6) 100%);
    color: white;
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    width: 65%;
    border-radius: 0 15px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-title p {
    cursor: pointer;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(46, 147, 197, 0.8);
    font-weight: bolder;
    border: none;
    cursor: pointer;
    padding: 1rem;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

@media (max-width: 1300px) {
    .carousel-container {
        width: 80vw;
    }

    .carousel-box.prev,
    .carousel-box.next {
        display: none;
    }

    .image-title p {
        margin-bottom: 10%;
    }
}