.footer {
    background: linear-gradient(90deg, rgba(45, 48, 143, 1) 0%, rgba(53, 166, 222, 1) 100%);
    color: #fff;
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.footer-box {
    flex: 1;
    padding: 1rem;
    min-width: 200px;
}

.footer-left-box,
.footer-middle-box,
.footer-right-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.footer-middle-box a {
    text-decoration: none;
    color: #fff;
}

.footer-logo {
    width: 25%;
    margin-bottom: 0.5rem;
}

.social-icon {
    width: 100%;
    margin-top: 0.5rem;
}

.footer-middle-box h3,
.footer-right-box h3,
.footer-helpdesk-box h3 {
    color: #fff;
    margin: 0;
    font-size: 1.4rem;
}

.footer-left-box p {
    font-size: 1rem;
}

.footer-right-box {
    align-items: flex-end;
}

.footer-right-box-content h3 {
    text-align: center;
}

.services-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.services-columns ul {
    list-style: none;
    padding: 0;
    margin-right: 1rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.contact-item a {
    text-decoration: none;
    color: #fff;
}

.icon {
    width: 20px;
    margin-right: 0.5rem;
    filter: brightness(0) invert(1);
}

.footer-divider {
    width: 95%;
    height: 5px;
    background-color: #fff;
    margin: 1rem 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

.footer-bottom span:last-child {
    text-align: right;
}

.footer-helpdesk-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
}

.footer-helpdesk-box .contact-item {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos-slide-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100vw;
    background: white;
    padding: 20px 0;
    box-sizing: border-box;
    margin: 0;
}

.logos-slide {
    display: flex;
    flex-shrink: 0;
}

.logos-slide img {
    height: 100px;
    margin: 0 20px;
    transition: transform 0.2s ease-in-out;
}

.h3-autoscroll {
    color: #fff;
    margin: 20px 0;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 990px) {
    .footer-helpdesk-box {
        align-items: center;
    }
}

@media (max-width: 780px) {

    .footer-bottom,
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-middle-box,
    .footer-left-box,
    .footer-right-box,
    .footer-helpdesk-box {
        align-items: center;
    }
}