.HelpDesk {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-HelpDesk {
    position: relative;
    width: 100%;
    height: 40vh;
    background-image: url('../assets/images/HelpDesk/helpdesk-banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.hero-overlay-HelpDesk {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(45, 48, 143, 0.9) 0%, rgba(53, 166, 222, 0.2) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-overlay-HelpDesk-text {
    width: 50%;
    padding: 2rem;
    color: white;
    box-sizing: border-box;
}

.hero-overlay-HelpDesk h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.HelpDesk-banner {
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(90deg, rgba(45, 48, 143, 1) 0%, rgba(53, 166, 222, 1) 100%);
    text-align: center;
}

.HelpDesk-banner h3 {
    font-size: 1.8rem;
    color: #fff;
    margin: 1rem;
}

.text {
    width: 75%;
    margin: 20px auto;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}

.text ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.image-helpdesk {
    width: 60%;
    margin: 20px 0;
}

.accordion {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f7f7f7;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.accordion-header:hover {
    background-color: #eaeaea;
}

.accordion-content {
    padding: 15px 20px;
    background-color: #fff;
    font-size: 1rem;
    color: #555;
}

.accordion-content h5 {
    margin: 10px 0;
    font-size: 1.1rem;
    color: #007bff;
}

.accordion-content ul {
    margin: 10px 0 0;
    padding-left: 20px;
    list-style-type: disc;
}

.accordion-content ul li {
    display: block;
    margin-bottom: 15px;
}

.accordion-content ul li strong {
    font-weight: bolder;
    text-decoration: underline;
    display: block;
    margin-bottom: 5px;
}

.accordion-content ul li p {
    margin: 0;
    font-size: 0.95rem;
    color: #555;
    line-height: 1.4;
}

.accordion-arrow {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid #333;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    margin-left: 10px;
}

.accordion-arrow.active {
    transform: rotate(135deg);
}
