.MW {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-MW {
    position: relative;
    width: 100%;
    height: 40vh;
    background-image: url('../assets/images/dropdown/HeroBackgroundMaterielsLogiciels.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.hero-overlay-MW {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(45, 48, 143, 0.9) 0%, rgba(53, 166, 222, 0.2) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-overlay-MW-text {
    width: 50%;
    padding: 2rem;
    color: white;
    box-sizing: border-box;
}

.hero-overlay-MW h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.info-box-text-end {
    flex: 2;
    text-align: center;
    padding: 10px;
}

.info-box-text-end p{
    font-size: 1rem;
    color: #333;
    text-align: center;
}