.TT {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-TT {
    position: relative;
    width: 100%;
    height: 40vh;
    background-image: url('../assets/images/dropdown/HeroBackgroundTelephonieTeams.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.hero-overlay-TT {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(45, 48, 143, 0.9) 0%, rgba(53, 166, 222, 0.2) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-overlay-TT-text {
    width: 50%;
    padding: 2rem;
    color: white;
    box-sizing: border-box;
}

.hero-overlay-TT h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}